html {
    background-color: #ffd289
}

#steak-img {
    height: 50%;
    width: 50%;
    object-fit: scale-down;
    position: left;

}

#odin-logo {
    height: 10%;
    width: 10%;
    object-fit: scale-down;
    position: relative;

}

.text {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}